/*===============================================
●mobile.css  画面の横幅が640pxまで
===============================================*/
@media screen and (max-width: 640px){
img{
max-width: 100%;
height: auto;
width /***/:auto;　
}

@media screen and (max-width: 640px){
.sp{display: block;}
}


@media screen and (max-width: 640px){
#menu-wrap{display: none;}
}

html{
  max-width: 100%;
	height:auto;
}
body{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;height:100%;margin: 0px;color:#313131;
}
a{
  text-decoration: none;
}
img {
   border: 0px;
}
#top img{
  max-width: 100%;
  height: auto;
}
#menu-wrap {
  width: 100%;
  height: 40px;
  box-shadow: 0 1px 10px #333;
  background-color:rgba(0,0,0,0.7);
  position: fixed;
  top: 0px;
  left: 0px;

}


.my-parts {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  cursor: pointer;
}
.my-parts span {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 84%;
  height: 10%;
  margin: -8% 0 0 -42%;
  background: #ff0000;
}
.my-parts span::before,
.my-parts span::after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin: -8% 0 0 -50%;
  background: #ff0000;
}
.my-parts span::before {
  margin-top: -38%;
}
.my-parts span::after {
  margin-top: 19%;
}


#menu {
  list-style-type: none;
  width:100%;
  margin: 0px auto 0px;
  padding: 0;

}
#menu li {
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu li a {
  display: block;
  width : 100%;
  padding: 13px 0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}
#menu li a:hover {
  background: #080808;
}
.fixed{
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
}

#annai{
  text-align: center;
  margin: 10%;
}
#annai p{
  font-size: 15px;
}
#main{
  text-align: center;
  width: 200px;
  margin: auto;

}
#access{
text-align: center;
margin: auto;
margin: 10%;
}
#access1{
  display: inline-block;

}
#access p{

  font-size: 15px;
}

#map {
display: inline-block;
}
#map iframe{
  width:200px;
}
#page-top {
    position: fixed;
    bottom: 3%;
    right: 3%;
    width: 10%;
}
#footer{
background: #1e7b1a;
color: #ffffff;
max-width: 100%;
height:80px;
bottom:0px;
margin: auto;
text-align: center;
}
#footer p{
  text-align: center;
	color: #ffffff;
	position: relative;
	top:30px;
}
}
